{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="category-container">
    <div class="category-header">
        WHAT ARE YOU LOOKING FOR?
    </div>
    <div class="cards-wrapper">
        {% for category in categories %}
        <a href = "{% url 'ecom:products' slug=category.slug %}">
        <div class="card">
            <img src="{{ category.category_pic.url }}" class="card-img">
            <div class="card-text">{{category.category_name}}</div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}