<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopify</title>
  <link rel="stylesheet" href="{% static 'css/ecommerce.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body class = "index-body">
  <div class="navbar-1 target">
    <ul>
        <a href = "#" class = "nav-link"><li>Formals</li></a>
        <a href = "#" class = "nav-link"><li>Sports Wear</li></a>
        <a href = "#" class = "nav-link"><li>Casual Wear</li></a>
    </ul>
  </div>
  <nav class="navbar target">
   <div class = "menu-brand-container">
   <div class="menu target">
       <div class="line line-1 target"></div>
        <!-- <div class="line line-2 target"></div> -->
        <div class="line line-3 target"></div>
   </div>
   <div class="brand target">
       SHOPIFY
   </div>
    </div>
   <div class="links">
        <!-- {% if user.is_authenticated %}
         <a href = "#" class = "nav-link"><i class="fab fa-opencart nav-link"></i></a>
         <a href = "{% url 'accounts:logout' %}" class = "nav-link">LOGOUT</a>
         <a href = "#" class = "nav-link">YOUR ORDERS</a>
        {% else %} -->
        <a href="{% url 'accounts:login' %}" class="nav-link main-link">LOGIN</a>
        <a href="{% url 'accounts:signup' %}" class = "nav-link main-link">SIGNUP</a>
        {% endif %}
   </div>
</nav>
<div class="bg-imgs">
  <img src="{% static 'images/index-bg.jpg' %}" class = "bg bgone">
  <img src="{% static 'images/index-bg-4.jpg' %}" class = "bg bgtwo">
  <img src="{% static 'images/index-bg-7.jpg' %}" class = "bg bgthree">
</div>
<div class="banner">
  <div class = "index-header">Welcome  to  Shopify</div>
</div>
<div class = "footer">
  <p class="continue-text"><a href = "{% url 'accounts:login' %}">LOGIN</a> OR <a href = "{% url 'accounts:signup' %}">SIGNUP</a> TO START SHOPPING!</p>
</div>
  <script src = "{% static 'js/ecommerce.js' %}"></script>
</body>
</html>